<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>AirBnB clone</title>

		<link rel="icon" href="../static/images/icon.png" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="stylesheet" href="../static/styles/8-places.css"/>
	</head>
    <body>
		<header>
		</header>
		<div class="container">
			<section class="filters">
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<DIV class="popover">
						<UL>
							{% for state in states.values()|sort(attribute='name') %}
							<LI><STRONG>{{ state.name }}</STRONG>
							<UL>
							{% for city in state.cities|sort(attribute='name') %}
							<LI>{{ city.name }}</LI>
							{% endfor %}
							</UL>
							</LI>
							{% endfor %}
						</UL>
					</DIV>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<div class="popover">
						<ul>
							{% for amenity in amenities.values()|sort(attribute='name') %}
							<li>{{ amenity.name }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<BUTTON>Search</BUTTON>
			</section>
			<section class="places">
				<H1>Places</H1>
				{% for place in places.values()|sort(attribute="name") %}
				<Article>
					<DIV class="title_box">
						<H2>{{ place.name }}</H2>
						<div class="price_by_night">&#36;{{ place.price_by_night }}</div>
					</DIV>

					<DIV class="information">
						<DIV class="max_guest">
							<I class="fa fa-users fa-3x" aria-hidden="true"></I>
							<BR></BR>
							<BR>{{ place.max_guest }} Guests
						</DIV>
						<DIV class="number_rooms">
							<I class="fa fa-bed fa-3x" aria-hidden="true"></I>
							<BR></BR>
							<BR>{{ place.number_rooms }} Rooms
						</DIV>
						<DIV class="number_bathrooms">
							<I class="fa fa-bath fa-3x" aria-hidden="true"></I>
							<BR></BR>
							<BR>{{ place.number_bathrooms }} Bathrooms
						</DIV>
					</DIV>

					<DIV class="user">
						<STRONG>Owner:</STRONG> {{ place.user.first_name }} {{ place.user.last_name }}
					</DIV>

					<DIV class="description">{{ place.description|safe }}</DIV>

					<DIV class="amenities_head">
						<H2>Amenities</H2>
						{% for amenity in place.amenities|sort(attribute="name") %}
						<UL>
							<LI><P>{{ amenity.name }}</P></LI>
						</UL>
						{% endfor %}
					</DIV>

					<DIV class="reviews">
						<H2>{{ place.reviews.__len__() }} Reviews</H2>
						{% for review in place.reviews %}
						<H3>From {{ review.user.first_name }} the {{ review.created_at.date().__str__() }}</H3>
						<UL>
							<LI><P>{{ review.text|safe }}</P></LI>
						</UL>
						{% endfor %}
					</DIV>
				</ARTICLE>
				{% endfor %}
			</SECTION>
		</DIV>
		</MAIN>
		<FOOTER>
			Holberton School
		</FOOTER>
	</BODY>
</HTML>
		
